;; shadow-cljs configuration
{:source-paths
 ["src"
  "test"]

 :dependencies
 [[binaryage/devtools "0.9.10"]
  [cider/cider-nrepl "0.21.0"]
  [refactor-nrepl "2.4.0"]
  [midje "1.7.0"]
  [smidjen "0.2.3"]]

 :dev-http
 {5555 "public"}

 :builds
 {:example {:target :browser
            :output-dir "public/example/js"
            :asset-path "/example/js"
            :modules {:main {:entries [example]}}}
  :node-test {:target :node-test
              :output-to "public/node-test.js"}
  :node-test-dev {:target :node-test
                  :output-to "public/node-test.js"
                  :autorun true}}}
