;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[binaryage/devtools "0.9.10"]
  [cider/cider-nrepl "0.21.0"]]

 :dev-http
 {5555 "public"}

 :builds
 {:example {:target :browser
            :output-dir "public/example/js"
            :asset-path "/example/js"
            :modules {:main {:entries [example]}}}}}
