;; shadow-cljs configuration
{:source-paths
 ["src"
  "test"]

 :dependencies
 [[binaryage/devtools "0.9.10"]
  [cider/cider-nrepl "0.21.0"]
  [refactor-nrepl "2.4.0"]
  [smidjen "0.2.3"]]

 :dev-http
 {5555 ["resources/public" "target/public"]}

 :builds
 {:example {:target :browser
            :output-dir "target/public/shadow-cljs-out"
            :asset-path "/shadow-cljs-out"
            :modules {:main {:entries [examples.shadow-cljs]}}}
  :node-test {:target :node-test
              :output-to "target/public/node-test.js"}
  :node-test-dev {:target :node-test
                  :output-to "target/public/node-test.js"
                  :autorun true}}}
